# RabbitMQ variables
AMQP_HOST=localhost
AMQP_USER=guest
AMQP_PASS=guest
AMQP_PORT=5672
AMQP_PREFETCH_COUNT=1

# Worker variables
ENABLE_DL_TRANSLATION=True
TRANSLATOR_QUEUE=translate.to_text
HEALTHCHECK_PORT=80

# Refinement variables
ENABLE_AGENT_GLOSS_REFINEMENT=false
WORKER_CAPABILITIES_QUEUE=worker.capabilities
GLOSS_REFINEMENT_QUEUE=refine.gloss

# LLM variables
AGENT_PROVIDER=openai
AGENT_API_URL=https://api.openai.com/v1
AGENT_API_KEY=changeme
AGENT_MODEL=gpt-4.1-mini